body {
  background-color: #fff7e9;
  font-family: Calibri;
}

.code {
  background-color: #ffe17f;
  padding: 3px 5px;
  border-radius: 13px;
  cursor: pointer;
}

.code:hover {
  background-color: #ffda60;
}

a {
  color: #67afe9;
  text-decoration: none;
  padding: 3px 5px;
  display: inline-block;
  border-radius: 10px;
}

/* Изменять только нижние стили */
.container {
}
.card {
  padding: 10px;
  min-height: 300px;
  background-color: #ffffff;
  box-shadow: 0 0 15px #afafaf;
  border-radius: 1rem;
}
